.banner{
    position: absolute;
    @include flex_dlc(row,center,space-around);
    justify-self: flex-start;
    width:60%;
    margin-top:2em;
}

.logo-ctn svg{
    width:200px;
    height:50px;
    margin-right: 1em;
}

.nav{
    &-ctn{
    @include flex_dlc(row,center,space-around);
    flex-wrap: wrap;    
    }    
}

.mobile-title{
    display:none;
}

@media screen and (max-width:1200px){
    .banner{
        flex-direction: column;
        width:90%;
    }
    
    .mobile-title{
        display:block;
        @include font_CWStSi($colorRed-1,400,normal,36px);
    }
    .logo-ctn{
        @include flex_dlc(row,center,space-around);
        width:100%;
        margin-bottom: 2em;
       
    }
}

@media screen and (max-width: 768px){
    .banner{
        width:100%;
    }
    .mobile-title{
        font-size: 14px;
    }    
    .nav-ctn{
        justify-content: center; 
        width: 80%;       
    }
    .logo-ctn svg{
        width:150px;
        height:37.5px;
    }    
}





