/*Primary colors*/
/*Secondary colors*/
* {
  font-family: DM_sans;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.blocpage-ctn {
  width: 90%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .blocpage-ctn {
    width: 100%;
  }
}
@font-face {
  font-family: "DM_sans";
  src: url(../font/DM_Sans/DMSans-Regular.ttf) format("truetype");
}
.tag {
  color: #901c1c;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  padding: 0 0.5em 0 0.5em;
  text-align: center;
  border: solid #c4c4c4 0.5px;
  border-radius: 11px;
}
.tag:hover {
  background-color: #901c1c;
  border-color: #901c1c;
  color: white;
  cursor: pointer;
}
.tag-nav {
  margin: 0.5em 0.25em 0.5em 0.25em;
}
.tag-tbn {
  margin: 0 0.25em 0 0.25em;
}
.tag-banner {
  font-size: 18px;
  margin: 0 0.25em 0 0.25em;
  padding: 0.2em 0.5em 0.2em 0.5em;
}

@media screen and (max-width: 991px) {
  .tag-banner {
    font-size: 13px;
  }
}
.content-ctn {
  display: none;
  z-index: 2;
  position: fixed;
  left: 45%;
  background-color: #d3573c;
  border-radius: 5px;
  width: 182px;
  height: 30px;
}
.content-ctn-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content-ctn-2 a {
  color: black;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  line-height: 23, 44px;
}

.banner {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  justify-self: flex-start;
  width: 60%;
  margin-top: 2em;
}

.logo-ctn svg {
  width: 200px;
  height: 50px;
  margin-right: 1em;
}

.nav-ctn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.mobile-title {
  display: none;
}

@media screen and (max-width: 1200px) {
  .banner {
    flex-direction: column;
    width: 90%;
  }

  .mobile-title {
    display: block;
    color: #901c1c;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
  }

  .logo-ctn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 768px) {
  .banner {
    width: 100%;
  }

  .mobile-title {
    font-size: 14px;
  }

  .nav-ctn {
    justify-content: center;
    width: 80%;
  }

  .logo-ctn svg {
    width: 150px;
    height: 37.5px;
  }
}
.main-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.desktop-title {
  color: #901c1c;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  margin: 1em 0 0 0;
}

.main-ctn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 6em;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .desktop-title {
    visibility: hidden;
  }
}
@media screen and (max-width: 768px) {
  .main-index {
    align-items: center;
    justify-content: flex-start;
  }

  .main-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
  }

  .desktop-title {
    margin: 2em 0 0 0;
  }
}
.img_MK {
  width: 400px;
  height: 400px;
  margin: 20px 0 0 0;
}
.img_ERW {
  width: 280px;
  height: 280px;
}
.img_TG {
  width: 600px;
  height: 600px;
  margin: 25px 0 0 0;
}
.img_NB {
  width: 650px;
  height: 650px;
  margin: 50px 0 0 0;
}
.img_RD {
  width: 800px;
  height: 800px;
  margin: 425px 0 0 75px;
}
.img_MN {
  width: 350px;
  height: 350px;
  margin: 50px 0 0 0;
}

.photographer-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33%;
  min-width: 300px;
  margin: 2em 0 2em 0;
}
.photographer-tbn-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.photographer-tbn-img_ctn {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 1em;
}
.photographer-tbn-img_ctn img {
  object-fit: cover;
}
.photographer-tbn-name {
  color: #d3573c;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 46.87px;
  text-align: center;
  margin: 0;
}
.photographer-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.photographer-desc-place {
  color: #901c1c;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 16.93px;
  padding: 0.2em 0 0.2em 0;
}
.photographer-desc-phrase {
  color: black;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 13.02px;
  padding: 0.2em 0 0.2em 0;
}
.photographer-desc-price {
  color: #757575;
  font-weight: 400;
  font-style: normal;
  font-size: 9px;
  line-height: 11, 72px;
  padding: 0.2em 0 0.2em 0;
}
.photographer-tag-ctn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
}

@media screen and (max-width: 768px) {
  .photographer-ctn {
    width: 100%;
  }
}
.logo-ctn-page {
  margin: 2em 0 2em 0;
}
.logo-ctn-page svg {
  width: 200px;
  height: 50px;
}

.photographer-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 280px;
  background-color: #fafafa;
  border-radius: 5px;
  margin-bottom: 3em;
}
.photographer-banner-desc {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}
.photographer-banner-ID {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}
.photographer-banner-name {
  color: #d3573c;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  line-height: 64px;
  margin: 32px 0 6px 32px;
}
.photographer-banner-place {
  color: #901c1c;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 31px;
  margin: 6px 0 6px 32px;
}
.photographer-banner-phrase {
  color: #525252;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  margin: 6px 0 6px 32px;
}
.photographer-banner-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 6px 0 6px 32px;
}

.banner-button-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.banner-button-ctn-mobile {
  display: none;
}
.banner-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  background-color: #901c1c;
  border-radius: 5px;
  width: 170px;
  height: 69px;
  margin-top: 3em;
}
.banner-btn:hover {
  background-color: #d3573c;
  color: black;
  cursor: pointer;
}
.banner-img-ctn {
  margin-right: 4em;
}
.banner-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  overflow: hidden;
}
.banner-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .photographer-banner {
    height: 200px;
  }
  .photographer-banner-name {
    font-size: 36px;
    line-height: 46px;
    margin: 32px 0 6px 32px;
  }
  .photographer-banner-place {
    font-size: 13px;
    line-height: 17px;
    margin: 6px 0 6px 32px;
  }
  .photographer-banner-phrase {
    font-size: 13px;
    line-height: 17px;
    margin: 6px 0 6px 32px;
  }
  .photographer-banner-tag {
    margin: 6px 0 6px 0;
  }

  .banner-btn {
    font-size: 18px;
    width: 150px;
    height: 60px;
  }
  .banner-img {
    width: 120px;
    height: 120px;
  }
  .banner-img img {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 768px) {
  .logo-ctn-page {
    margin: 1.5em 0 0 0;
  }

  .photographer-banner {
    background-color: white;
  }
  .photographer-banner .photographer-banner {
    height: 200px;
  }
  .photographer-banner .photographer-banner-name {
    margin: 32px 0 6px 0;
  }
  .photographer-banner .photographer-banner-place {
    margin: 6px 0 6px 0;
  }
  .photographer-banner .photographer-banner-phrase {
    margin: 6px 0 6px 0;
  }

  .banner-button-ctn {
    display: none;
  }
  .banner-button-ctn-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    position: fixed;
    bottom: 10px;
  }
  .banner-btn {
    width: 170px;
    height: 40px;
  }
  .banner-img-ctn {
    margin: 0 0.5em 0 -3em;
  }
  .banner-img {
    width: 90px;
    height: 90px;
  }
  .banner-img img {
    width: 125px;
    height: 125px;
  }
}
.photos-option-ctn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.option-phrase {
  color: black;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  margin-top: 10px;
}
.option-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #901c1c;
  border-radius: 5px;
  margin: 0 0 0 1em;
  width: 170px;
}
.option-btn-first {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.option-btn-choice {
  color: white;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  padding: 15px 0 15px 15px;
  width: 100%;
}
.option-btn-choice:hover {
  cursor: pointer;
}
.option-btn-arrow {
  transform: rotate(180deg);
}
.option-btn-arrow:hover {
  cursor: pointer;
}
.option-btn-line {
  background-color: white;
  width: 160px;
  height: 1px;
  margin: 0 5px 0 5px;
}

.option-dropdown {
  display: none;
}

/*Photos section*/
.photo-list-ctn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2em;
}
.photo-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33%;
  min-width: 350px;
  margin: 1em 0 1em 0;
}

.img-ctn img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  margin: 0 1em 0 1em;
}
.img-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 350px;
}
.img-title {
  color: #901c1c;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}
.img-notation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.img-notation span {
  color: #901c1c;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  margin-right: 0.5em;
}
.img-notation svg:hover {
  cursor: pointer;
}

.likePrice-ctn {
  display: block;
  position: fixed;
  right: 50px;
  bottom: 0px;
  z-index: 2;
  width: 375px;
  height: 65px;
}
.likePrice-ctn-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: black;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  background-color: #d3573c;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.likePrice-ctn-2 svg {
  width: 17.5px;
  height: 18.35px;
  fill: black;
}

.space-bottom {
  width: 100%;
  height: 50px;
}

@media screen and (max-width: 991px) {
  .photo-ctn {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .photos-option-ctn {
    display: none;
  }

  .photo-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .photo-ctn {
    width: 100%;
  }

  .likePrice-ctn {
    display: none;
  }
}
.modalForm-ctn {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 3;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
}

.form-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.form-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #d3573c;
  width: 669px;
  border-radius: 5px;
  margin: 20px 0 20px 0;
}
.form-title-ctn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.form-title-ctn h1 {
  color: black;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  line-height: 83px;
  margin: 10px 0 0 25px;
}
.form-title-ctn svg {
  width: 42px;
  height: 42px;
  margin: 25px 25px 0 0;
}
.form-title-ctn svg:hover {
  cursor: pointer;
}
.form-input {
  width: 100%;
}
.form-data {
  margin: 0 20px 0 20px;
}
.form-data label {
  color: #312e2e;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
}
.form-data .input-text {
  width: 100%;
  height: 47px;
  border-radius: 5px;
  border-style: none;
  color: black;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
}
.form-data textarea {
  width: 100%;
  border-radius: 5px;
  border-style: none;
  color: black;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
}
.form-error {
  color: #901c1c;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
.form-button {
  background-color: #901c1c;
  color: white;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  border-radius: 5px;
  border-style: none;
  width: 170px;
  height: 69px;
  margin: 10px 0 10px 0;
}
.form-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .form-body {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .form-title-ctn h1 {
    font-size: 36px;
    line-height: 47px;
    margin: 10px 0 0 20px;
  }
  .form-title-ctn svg {
    width: 18.5px;
    height: 18.5px;
    margin: 25px 20px 0 0;
  }
  .form-data {
    margin: 10px 20px 10px 20px;
  }
  .form-data label {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .form-data .input-text {
    font-size: 24px;
  }
  .form-data textarea {
    font-size: 24px;
    rows: 5;
  }
  .form-data-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .form-error {
    font-size: 14px;
  }
  .form-button {
    width: 170px;
    height: 35px;
    margin: 10px 0 10px 0;
  }
}
.modalLight-ctn {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 5;
}

.light-ctn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.light-img-ctn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 90%;
}
.light-right-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.light-right-div {
  width: 42px;
  height: 42px;
}
.light-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55%;
  max-width: 1050px;
  height: 100%;
  max-height: 900px;
}
.light-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.light-title-ctn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.light-title-ctn span {
  color: #901c1c;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}
.light-closeCross:hover {
  cursor: pointer;
}
.light-arrow:hover {
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .light-img {
    width: 70%;
    height: 90%;
  }
}
@media screen and (max-width: 768px) {
  .light-left-arrow {
    width: 42px;
  }
  .light-img {
    width: 100%;
    height: 90%;
  }
  .light-title-ctn span {
    font-size: 14px;
  }
  .light-closeCross svg {
    width: 12px;
    height: 12px;
  }
  .light-arrow svg {
    width: 12px;
    height: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
