.tag{
    @include font_CWStSi($colorRed-1,500,normal,12px);
    line-height: 16px;
    padding:0 0.5em 0 0.5em;
    text-align: center;
    border: solid $colorGrey-3 0.5px;
    border-radius:11px;
    &:hover{
        background-color: $colorRed-1;
        border-color: $colorRed-1;
        color:white;
        cursor: pointer;
    } 
    &-tbn{
        margin:0 0.25em 0 0.25em;
    }
    &-banner{
        font-size: 18px;
        margin:0 0.25em 0 0.25em;
        padding:0.2em 0.5em 0.2em 0.5em;
    }   
}